{{#if isSecondary}}

{{else}}
<ul class="nav__menu-list">
    <li class="nav__menu group">
        <div class="nav__menu-inner" id="CLICK_MENU_PLEGABLES">
            <span class="nav__menu-inner-title">
                NestJS
            </span>
            <img 
                class="nav__menu-inner-icon" 
                src="{{asset "images/navigation/desplegar-menu.webp"}}" 
                alt="Esto es un menu desplegable con mas sub-menus." 
            />
        </div>
        <div class="nav__submenu-container nav__submenu-container--width-2-cols nav__submenu-container--hidden" id="OBSERVER_SUB_MENU_PLEGABLES">
            <ul class="nav__submenu-list nav__submenu-list--2-cols">
                <li class="nav__submenu">
                    <a href="/tendedero-de-ropa-plegable/">
                        <img 
                            src="{{asset "images/navigation/plegable.webp"}}" 
                            alt="Tendedero de ropa plegable"
                        >
                        <span>
                            <span>
                                NestJS
                            </span>
                            <span>
                                Introducción al framework y tu primera aplicación.
                            </span>
                        </span>
                    </a>
                </li>
                <li class="nav__submenu">
                    <a href="/tendedero-de-ropa-plegable/tendedero-de-ropa-plegable-de-piso/">
                        <img 
                            src="{{asset "images/navigation/para-piso.webp"}}" 
                            alt="Tendedero de ropa plegable de piso"
                        >
                        <span>
                            <span>
                                Para piso
                            </span>
                            <span>
                                Ideal para espacios pequeños y apartamentos.
                            </span>
                        </span>
                    </a>
                </li>
                <li class="nav__submenu">
                    <a href="/tendedero-de-ropa-plegable/tendederos-de-pared/">
                        <img 
                            src="{{asset "images/navigation/para-pared.webp"}}" 
                            alt="Tendedero plegable de pared"
                        >
                        <span>
                            <span>
                                Para paredes
                            </span>
                            <span>
                                Seguros, fáciles de instalar y muy resistentes.
                            </span>
                        </span>
                    </a>
                </li>
                <li class="nav__submenu">
                    <a href="/">
                        <img 
                            src="{{asset "images/navigation/material-aluminio.webp"}}" 
                            alt="Tendederos de aluminio plegable"
                        >
                        <span>
                            <span>
                                En aluminio
                            </span>
                            <span>
                                Tendederos plegables en material de aluminio.
                            </span>
                        </span>
                    </a>
                </li>
                <li class="nav__submenu">
                    <a href="/">
                        <img 
                            src="{{asset "images/navigation/por-niveles.webp"}}" 
                            alt="Tendederos plegables por niveles."
                        >
                        <span>
                            <span>
                                Por niveles
                            </span>
                            <span>
                                Encuentra diferentes niveles en tu tendedero plegable.
                            </span>
                        </span>
                    </a>
                </li>
                <li class="nav__submenu">
                    <a href="/">
                        <img 
                            src="{{asset "images/navigation/material-metalico.webp"}}" 
                            alt=""
                        />
                        <span>
                            <span>
                                Metálicos
                            </span>
                            <span>
                                Tendederos plegables en material de metal.
                            </span>
                        </span>
                    </a>
                </li>
                <li class="nav__submenu">
                    <a href="/">
                        <img 
                            src="{{asset "images/navigation/material-acero.webp"}}" 
                            alt="Tendedero plegable en Acero Inoxidable"
                        />
                        <span>
                            <span>
                                En Acero
                            </span>
                            <span>
                                Acero inoxidable para una larga durabilidad.
                            </span>
                        </span>
                    </a>
                </li>
                <li class="nav__submenu">
                    <a href="/">
                        <img 
                            src="{{asset "images/navigation/material-madera.webp"}}" 
                            alt="Tendedero de madera plegable."
                        />
                        <span>
                            <span>
                                En Madera
                            </span>
                            <span>
                                Diseños increibles en madera para tu tendedero.
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>    
    </li>
    <li class="nav__menu group">
        <div class="nav__menu-inner" id="CLICK_MENU_UBICACION">
            <span class="nav__menu-inner-title">
                Por Ubicación
            </span>
            <img 
                class="nav__menu-inner-icon" 
                src="{{asset "images/navigation/desplegar-menu.webp"}}" 
                alt="Esto es un menu desplegable con mas sub-menus."
            />
        </div>
        <div class="nav__submenu-container nav__submenu-container--width-1-col nav__submenu-container--hidden" id="OBSERVER_SUB_MENU_UBICACION">
            <ul class="nav__submenu-list nav__submenu-list--1-col">
                <li class="nav__submenu">
                    <a href="/">
                        <img 
                            src="{{asset "images/navigation/para-apartamento.webp"}}" 
                            alt="Tendedero de ropa para apartamento"
                        />
                        <span>
                            <span>
                                Para Apartamentos
                            </span>
                            <span>
                                Optimiza tu espacio y guardalo fácilmente.
                            </span>
                        </span>
                    </a>
                </li>
                <li class="nav__submenu">
                    <a href="/">
                        <img 
                            src="{{asset "images/navigation/para-patios.webp"}}" 
                            alt="Tendederos de ropa para patio"
                        >
                        <span>
                            <span>
                                Para patios
                            </span>
                            <span>
                                Tendederos al aire libre de diferentes diseños.
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>    
    </li>
</ul>
{{/if}}