{{#if isSecondary}}

{{else}}
<ul class="nav__menu-list">
    <li class="nav__menu group">
        <div class="nav__menu-inner" id="CLICK_MENU_ITEM_1">
            <span class="nav__menu-inner-title">
                NestJS
            </span>
            <img 
                class="nav__menu-inner-icon" 
                src="{{asset "images/navigation/desplegar-menu.webp"}}" 
                alt="Menú desplegable de NestJS" 
            />
        </div>
        <div class="nav__submenu-container nav__submenu-container--width-2-cols nav__submenu-container--hidden" id="OBSERVER_SUB_MENU_ITEM_1">
            <ul class="nav__submenu-list nav__submenu-list--2-cols">
                <li class="nav__submenu">
                    <a href="/nestjs/tutoriales/">
                        <img 
                            src="{{asset "images/navigation/nestjs-48x48-small.webp"}}" 
                            alt="Conceptos básicos y fundamentos del framework NestJS"
                        >
                        <span>
                            <span>
                                Conceptos Básicos
                            </span>
                            <span>
                                Introducción al framework NestJS y sus fundamentos.
                            </span>
                        </span>
                    </a>
                </li>
                <li class="nav__submenu">
                    <a href="/nestjs/bases-de-datos/">
                        <img 
                            src="{{asset "images/navigation/nestjs-48x48-small.webp"}}" 
                            alt="Integración con bases de datos en NestJS"
                        >
                        <span>
                            <span>
                                Bases de Datos
                            </span>
                            <span>
                                Integración de NestJS con las bases de datos mas utilizadas en la industria.
                            </span>
                        </span>
                    </a>
                </li>
                <li class="nav__submenu">
                    <a href="/nestjs/microservicios/">
                        <img 
                            src="{{asset "images/navigation/nestjs-48x48-small.webp"}}" 
                            alt="Microservicios en NestJS"
                        >
                        <span>
                            <span>
                                Microservicios
                            </span>
                            <span>
                                Arquitecturas de microservicios oriendas a mensajes, eventos y sus protocolos.
                            </span>
                        </span>
                    </a>
                </li>
                <li class="nav__submenu">
                    <a href="/nestjs/arquitectura-hexagonal/">
                        <img 
                            src="{{asset "images/navigation/nestjs-48x48-small.webp"}}" 
                            alt="Arquitectura Hexagonal en NestJS"
                        >
                        <span>
                            <span>
                                Arquitectura Hexagonal
                            </span>
                            <span>
                                Aplicaciones escalables, mantenibles, porque usarlo y casos de uso.
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>    
    </li>
</ul>
{{/if}}