<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    {{!-- Basic Information --}}
    <title>{{meta_title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">

    {{> "typography/mono"}}     {{!-- JetBrains Mono --}}
    {{> "typography/sans"}}     {{!-- Inter --}}
    {{> "typography/serif"}}    {{!-- EB Garamond --}}

    {{!-- Ghost SEO configurations --}}
    {{ghost_head}}

</head>
<body class="layout">

    <header class="layout__header">
        <nav class="layout__desktop-nav">
            {{> "components/DesktopNav/DesktopNav"}}
        </nav>
    </header>

    <nav 
        class="
            layout__mobile-nav 
            layout__mobile-nav--hidden
        "
        id="idMobileNav"
    >
        {{> "components/MobileNav/MobileNav"}}
    </nav>

    <nav class="layout__mobile-subnav"></nav>

    {{{body}}}

    <footer class="layout__footer">
        {{> "components/Footer/Footer"}}
    </footer>

    {{!-- Ghost SEO configurations and default scripts --}}
    {{ghost_foot}}
    <script type="module" src="{{asset "built/main.js"}}"></script>
    
</body>
</html>