<div class="payment-gateways">
    <span class="payment-gateways__title">
        Pago Seguro a través de Amazon
    </span>
    <figure class="payment-gateways__figures">
        <img src="{{asset "images/payment-gateways/visa-48x48-small.webp" format="webp"}}" alt="" />
        <img src="{{asset "images/payment-gateways/mastercard-48x48-small.webp" format="webp"}}" alt="" />
        <img src="{{asset "images/payment-gateways/american-express-48x48-small.webp" format="webp"}}" alt="" />
        <img src="{{asset "images/payment-gateways/dinners-club-48x48-small.webp" format="webp"}}" alt="" />
        <img src="{{asset "images/payment-gateways/paypal-48x48-small.webp" format="webp"}}" alt="" />
        <img src="{{asset "images/payment-gateways/discover-48x48-small.webp" format="webp"}}" alt="" />
    </figure>
</div>